%h1.pull-left= @playlist.name

%table.table.table-striped
  %thead
    %tr
      %th Song
      %th Artist
      %th

  %tbody
    - @songs.each do |song|
      %tr
        %td= link_to_if song.songsterr_url, "#{song.name}", playlist_song_path(@playlist, song, protocol: 'http'), target: '_blank'
        %td= song.artist.name
        %td= link_to 'Edit', edit_playlist_song_path(@playlist, song)
        -#%td= link_to 'Destroy', song, :method => :delete, :data => { :confirm => 'Are you sure?' }
    - @songs_without_links.each do |song|
      %tr
        %td= link_to_if song.songsterr_url, "#{song.name}", playlist_song_path(@playlist,song)
        %td= song.artist.name
        %td= link_to 'Edit', edit_playlist_song_path(@playlist, song)
        -#%td= link_to 'Destroy', song, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= link_to 'New Song', new_playlist_song_path(@playlist)
