%div#show-song

  .header= "#{@song.artist.name} - #{@song.name}"

  .play_button
    %iframe{:src => "https://embed.spotify.com/?uri=#{@song.spotify_url}", :width => "300", :height => "100", :frameborder => "0", :allowtransparency => "true"}

  = image_tag @song.album_artwork_url, class: 'album_image'

  .clearfix

  %h5 Your Material

  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Link

    %tbody
      - @my_materials.each do |material|
        %tr
          %td= material.title
          %td= link_to material.url, playlist_song_material_path(@playlist, @song, material), target: '_blank'
          %td= link_to 'Edit', edit_playlist_song_material_path(@playlist, @song, material)
          %td= link_to 'Destroy', playlist_song_material_path(@playlist, @song, material), :method => :delete, :data => { :confirm => 'Are you sure?' }


  %h5 All Material

  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Link

    %tbody
      - @materials.each do |material|
        %tr
          %td= material.title
          %td= link_to material.url, playlist_song_material_path(@playlist, @song, material), target: '_blank'

  =link_to 'Add New Material', new_playlist_song_material_path(@playlist, @song)

