%h2= "#{@song.artist.name} - #{@song.name}"

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Link

  %tbody
    - @materials.each do |material|
      %tr
        %td= material.title
        %td= link_to material.url, playlist_song_material_path(@playlist, @song, material), target: '_blank'
        %td= link_to 'Edit', edit_playlist_song_material_path(@playlist, @song, material)
        %td= link_to 'Destroy', playlist_song_material_path(@playlist, @song, material), :method => :delete, :data => { :confirm => 'Are you sure?' }


=link_to 'Add New Material', new_playlist_song_material_path(@playlist, @song)

