%p#notice= notice

%h2
  = @song.name
  \-
  = @song.artist.name

%iframe{:src => @song.songsterr_url, :width => 1000, :height => 500}

= link_to 'Edit', edit_song_path(@song)
\|
= link_to 'Back', songs_path
