<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Genre</th>
      <th>Difficulty</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.url %></td>
        <td><%= song.genre %></td>
        <td><%= song.difficulty %></td>
        <td><%= song.artist.name %></td>
        <td><%= link_to 'Show', api_song_path(song) %></td>
        <td><%= link_to 'Edit', edit_api_song_path(song) %></td>
        <td><%= link_to 'Destroy', api_song_path(song), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_api_song_path %>
