%h2 Select what playlists you want to import from Spotify

= form_tag sync_spotify_playlists_path do
  %table.table.table-striped
    %thead
      %th Select
      %th Name

    %tbody
    - @spotify_playlists.each do |p|
      %tr
        %td= check_box_tag "[playlists][#{p.id}]", p.id, @currently_synced_playlists.member?(p.id)
        %td= p.name

  = submit_tag 'Submit'
